# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      - name: Profile Readme Stats
        # You may pin to the exact commit or the version.
        # uses: teoxoy/profile-readme-stats@82d1c3c663733644c424425e4efd0b6396c4126b
        uses: teoxoy/profile-readme-stats@v1.2
        with:
          # Personal access token with `read:user` scope and optional `repo` scope
          token: read:Alex-vZyl
          # Path to template file
          template: ./TEMPLATE.md
          # Path to generated file
          readme: ./README.md
          # Include forked repositories when calculating the stats
          includeForks: false
